<div class="row">
    <div class="col-sm-3" style="padding-right: 5px;">
        <div class="tab-content">
            <div id="division" class="tab-pane fade in active">
                <ul class="nav nav-pills nav-stacked"
                    style="background-color: #202020; color: #428bca; border-collapse: collapse;">
                    <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                            style="color: #ff6d10 !important;" data-toggle="tab" href="#nightfall">
                        <small>NightFall</small>
                    </a></li>
                    <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                            style="color: #ff6d10 !important;" data-toggle="tab" href="#weeklyheroic">
                        <small>Weekly Heroics</small>
                    </a></li>
                    <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                            style="color: #ff6d10 !important;" data-toggle="tab" href="#weeklycrucible">
                        <small>Weekly Crucible Playlist</small>
                    </a></li>
                    <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                            style="color: #ff6d10 !important;" data-toggle="tab" href="#myWeekly">
                        <small>My Weekly Checklist</small>
                    </a></li>
                    <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                            style="color: #ff6d10 !important;" data-toggle="tab" href="#myWeekly">
                        <small>Clan Info & Stats</small>
                    </a></li>
                    <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                            style="color: #ff6d10 !important;" data-toggle="tab" href="#myWeekly">
                        <small>Clan Twitch Channels</small>
                    </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="col-sm-9" style="padding-left: 5px;">
        <div class="tab-content">
            <div id="home" class="tab-pane fade in active">
                <p>Introducing the New Weekly Advisor Section that features information about most weekly
                    activities.
                    For any feedback, please message a Mod.
                </p>
            </div>
            $TMPL_NF_SECTION$
            $TMPL_WH_SECTION$
            $TMPL_WC_SECTION$
            <div id="myWeekly" class="tab-pane fade in">
                <h2>Coming Soon...</h2>
            </div>
            <!--<div id="clan" class="tab-pane fade">-->
                <!--<h2>Coming Soon...</h2>-->
            <!--</div>-->
            <!--<div id="twitch" class="tab-pane fade">-->
                <!--<h2>Coming Soon...</h2>-->
            <!--</div>-->
        </div>
    </div>
</div>