</p>
<div class="tab-content bg-info" style="padding: 15px;">
    <div id="news" class="tab-pane active">

        <div class="well well-dark-transparent">
            <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;">
                Welcome To The Unholy Misfits 938 Clan!</h3>
            Fun times no restrictions Lets get the job done and enjoy the bonds we create playing a game we all enjoy.
            <br><br>Help make the100.io better <a class="btn btn-default" href="https://www.the100.io/supporters">Become
            a <span class="glyphicon glyphicon-fire"></span> Supporter</a>
            <br><br>
            <p style="padding: 15px; background-color: rgb(135, 30, 30); font-size: 12px;"><strong>NOTICE:</strong><br>
                PLEASE SET ALL NEW GAME SESSIONS TO GROUP ONLY.<br>
                We are a group that likes to play together and would prefer not to be a platform for making lfg games.
                Just make sure to tick the group only box when you make the session. Avoid jumping puzzles when in a
                group with Claude Spunkton or KingPapaTut, you have been warned!</p>
            <br>
        </div>

        <div class="well well-dark-transparent">


            <!--<a class="image image-thumbnail"><img-->
                    <!--src="https://i.imgur.com/OXViMMo.jpg"-->
                    <!--width="100%"-->
                    <!--height="50%"></a>-->

            <!--<h3><a data-toggle="tab" href="#tourney">View Details</a></h3>-->
            <!--<div class="tab-content">-->
                <!--<div id="tourney" class="tab-pane fade in">-->
                    <!--<h3>Announcing the Doubles Tournament! </h3>-->
                    <!--<p>Sign up for the tournament will begin on Monday 17th and run through until Friday the 28th of-->
                        <!--October.-->
                        <!--After sign up has closed we will draw people at random and pair them up. Once you have your-->
                        <!--teammate you-->
                        <!--will be given the weekend to come up with your team name and get your practice in! The-->
                        <!--tournament will-->
                        <!--then begin on Tuesday the 1st of November.</p>-->

                    <!--<h4>Format</h4>-->
                    <!--<ul>-->
                        <!--<li>Tournament will be in a league table format with every team playing each other team twice.-->
                        <!--</li>-->
                        <!--<li>All fixtures will consist of 3 games of doubles skirmish</li>-->
                        <!--<li> Maps will be picked at random before the fixture takes place</li>-->
                        <!--<li> Light level will be disabled</li>-->

                    <!--</ul>-->
                    <!--<h4>Scoring</h4>-->
                    <!--<ul>-->
                        <!--<li>Winning a fixture will award you 3 points</li>-->
                        <!--<li>An extra point will be awarded if you win your fixture flawlessly (3-0) meaning a maximum of-->
                            <!--4-->
                            <!--points can be won in a single fixture-->
                        <!--</li>-->
                        <!--<li>However the bonus point will be awarded to the losing team if they mange to win a match-->
                            <!--during the-->
                            <!--fixture.-->
                        <!--</li>-->
                        <!--<li> Light level will be disabled</li>-->

                    <!--</ul>-->
                    <!--<p> So eyes up guardians, it's time to lock and load! </p>-->
                    <!--<h2><a href="https://www.the100.io/gaming_sessions/802391">Sign up here!</a></h2>-->
                <!--</div>-->
                <a class="image image-thumbnail"><img src="https://www.bungie.net//pubassets/93249/10202016_header_frontpage.jpg" width="100%"></a>
                <h2>Congratulations to the first Unholy Misfits team to complete the hard mode raid</h2>
                <p>Team members where: <a href="http://destinytracker.com/destiny/overview/xbox/clancy%20dot%20baby">Clany DOT Baby</a>,
                    <a href="http://destinytracker.com/destiny/overview/xbox/generalbash">I_GeneralBash_I</a>,
                    <a href="http://destinytracker.com/destiny/overview/xbox/foxhoundgossip">FoxHoundGossip</a>,
                    <a href="http://destinytracker.com/destiny/overview/xbox/tiestoflight">Tiestoflight</a>,
                    <a href="http://destinytracker.com/destiny/overview/xbox/Campblor">Campblor</a> and
                    <a href="http://destinytracker.com/destiny/overview/xbox/AsternRanger">AsternRanger</a>
                </p>

            </div>

            <div class="row">
                <!--<div class="col-sm-3" style="padding-right: 5px;">-->
                <div class="tab-content">
                    <div id="division" class="tab-pane fade in active">
                        <ul class="nav nav-pills"
                            style="background-color: #202020; color: #428bca; border-collapse: collapse;">
                            <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                                    style="color: #428bca !important;" data-toggle="tab" href="#home">
                                <small>News</small>
                            </a></li>
                            <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                                    style="color: #428bca !important;" data-toggle="tab" href="#nightfall">
                                <small>NightFall</small>
                            </a></li>
                            <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                                    style="color: #428bca !important;" data-toggle="tab" href="#weeklyheroic">
                                <small>Weekly Heroics</small>
                            </a></li>
                            <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                                    style="color: #428bca !important;" data-toggle="tab" href="#weeklycrucible">
                                <small>Weekly Crucible Playlist</small>
                            </a></li>
                            <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                                    style="color: #428bca !important;" data-toggle="tab" href="#clan">
                                <small>Clan Info</small>
                            </a></li>
                            <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                                    style="color: #428bca !important;" data-toggle="tab" href="#clanstats">
                                <small>Clan Stats</small>
                            </a></li>
                            <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                                    style="color: #428bca !important;" data-toggle="tab" href="#rank">
                                <small>Ways to Rank up</small>
                            </a></li>
                            <li style="border-bottom: 1px solid white; border-collapse: collapse;"><a
                                    style="color: #428bca !important;" data-toggle="tab" href="#xur">
                                <small>Xur</small>
                            </a></li>
                            <!--<li style="border-bottom: 1px solid white; border-collapse: collapse;"><a-->
                            <!--style="color: #ff6d10 !important;" data-toggle="tab" href="#myWeekly">-->
                            <!--<small>My Weekly Checklist</small>-->
                            <!--</a></li>-->
                            <!--<li style="border-bottom: 1px solid white; border-collapse: collapse;"><a-->
                            <!--style="color: #ff6d10 !important;" data-toggle="tab" href="#myWeekly">-->
                            <!--<small>Clan Info & Stats</small>-->
                            <!--</a></li>-->
                            <!--<li style="border-bottom: 1px solid white; border-collapse: collapse;"><a-->
                            <!--style="color: #ff6d10 !important;" data-toggle="tab" href="#myWeekly">-->
                            <!--<small>Clan Twitch Channels</small>-->
                            <!--</a></li>-->
                        </ul>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="tab-content">
                    <div id="home" class="tab-pane fade in active">
                        <h4><br>Introducing the New Weekly Advisor Section that features information about most weekly
                            activities.
                            For any feedback, please message a Mod.
                        </h4>
                        <div class="well well-dark-transparent">
                            <div class="row">
                                <div class="col-md-6">
                                    <a class="twitter-timeline" href="https://twitter.com/Bungie"
                                       data-widget-id="693068913672900609">Tweets
                                        by @Bungie</a>

                                </div>
                                <div class="col-md-6">
                                    <a class="twitter-timeline" href="https://twitter.com/BungieHelp"
                                       data-widget-id="693066466330054656">Tweets by @BungieHelp</a>

                                </div>
                            </div>
                        </div>
                    </div>
                    $TMPL_NF_SECTION$
                    $TMPL_WH_SECTION$
                    $TMPL_WC_SECTION$
                    <div id="clan" class="tab-pane fade in">
                        <div class="col-xs-12 col-md-9">
                            <br>
                            <p>Our Clan, The Unholy Misfits 938, exists for earning achievements such as: Raiding Party,
                                Flawless Raider,
                                Strength of the Pack, etc. Communication and Scheduling should be done through this
                                site.</p>
                            <ul class="list-inline">
                                <li><a href="https://www.bungie.net/en/Clan/Xbox/1407864" target="_blank"
                                       class="btn btn-success">Join
                                    BC938 Clan</a></li>
                                <li><a target="_blank" href="http://destinytracker.com/clans/1407864/bravo-938"
                                       class="btn btn-primary">BC938 Stats</a></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                    <div id="clan" class="tab-pane fade in">
                        <div class="col-xs-12 col-md-9">
                            <p>Our Clan, The Unholy Misfits 938, exists for earning achievements such as: Raiding Party,
                                Flawless Raider,
                                Strength of the Pack, etc. Communication and Scheduling should be done through this
                                site.</p>
                            <ul class="list-inline">
                                <li><a href="https://www.bungie.net/en/Clan/Xbox/1407864" target="_blank"
                                       class="btn btn-success">Join
                                    BC938 Clan</a></li>
                                <li><a target="_blank" href="http://destinytracker.com/clans/1407864/bravo-938"
                                       class="btn btn-primary">BC938 Stats</a></li>
                            </ul>
                            <br>
                        </div>
                    </div>
                    <div id="clanstats" class="tab-pane fade in">
                        <div class="col-xs-12 col-md-9">
                            $TMPL_STATS_SECTION$
                        </div>
                    </div>
                    <div id="xur" class="tab-pane fade in">
                        <div class="col-xs-12 col-md-9">
                            $TMPL_XUR_SECTION$
                        </div>
                    </div>
                    <div id="rank" class="tab-pane fade in">
                        <div class="col-xs-12 col-md-9">
                            <img
                                    src="http://i.imgur.com/XIdGFHq.jpg"
                                    width="100%"
                                    height="75%">

                        </div>
                    </div>
                    <!--<div id="twitch" class="tab-pane fade">-->
                    <!--<h2>Coming Soon...</h2>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
    </div>
</div>
