</p><nav class="navbar navbar-default" style="font-size: 13px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">NEWS <span class="caret"></span></a>
                    <ul class="dropdown-menu" style="width: 300px;">
                        <li><a data-toggle="tab" style="padding: 8px 20px;" href="#news">EVENTS</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">INFO <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="https://www.bungie.net/en/Clan/Xbox/1407864" target="_blank">Clan Bungie Page</a></li>
                        <li><a data-toggle="tab" style="padding: 8px 20px;" href="#links">Useful Links</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">ACTIVITIES<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="tab" style="padding: 8px 10px;" href="#rewards">ACTIVITY REWARDS</a></li>
                        <li><a data-toggle="tab" style="padding: 8px 10px;" href="#NF">VANGUARD NIGHTFALL</a></li>
                        <li><a data-toggle="tab" style="padding: 8px 10px;" href="#KF">KING'S FALL WEEKLY CHALLENGE</a></li>
                        <li><a data-toggle="tab" style="padding: 8px 10px;" href="#ToO">TRIALS OF OSIRIS</a></li>
                        <li><a data-toggle="tab" style="padding: 8px 10px;" href="#IB">IRON BANNER</a></li>
                        <li class="divider">
                        </li><li class="dropdown-header">TRIALS of OSIRIS MAPS</li>
                        <li><a href="https://i.imgur.com/wg2zxwV.jpg" target="_blank">Burning Shrine</a></li>
                        <li><a href="https://i.imgur.com/0Z4OMG8.jpg" target="_blank">Widows Court</a></li>
                        <li><a href="https://i.imgur.com/gxNZNeQ.png" target="_blank">Thieves Den</a></li>
                        <li><a href="https://i.imgur.com/L0CSjrC.png" target="_blank">Cauldron</a></li>
                        <li><a href="http://i.imgur.com/eOFnAU6.jpg" target="_blank">Anomaly</a></li>
                        <li><a href="http://i.imgur.com/sA4NqIO.jpg" target="_blank">Asylum</a></li>
                        <li><a href="http://i.imgur.com/FvH9Ise.jpg" target="_blank">Firebase Delphi</a></li>
                        <li><a href="http://i.imgur.com/cbz1pBH.jpg" target="_blank">Shores of Time</a></li>
                        <li><a href="http://i.imgur.com/YGUKWZP.jpg" target="_blank">Rusted Lands</a></li>
                        <li><a href="http://i.imgur.com/j6y6inI.jpg" target="_blank">Drifter</a></li>
                        <li><a href="http://i.imgur.com/Gyt4S9r.jpg" target="_blank">Pantheon</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">VENDORS <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a data-toggle="tab" style="padding: 8px 20px;" href="#ToO">TRIALS OF OSIRIS, BRO VANCE</a></li>
                        <li><a data-toggle="tab" style="padding: 8px 20px;" href="#AD">GUNSMITH ARMSDAY, BANSHEE</a></li>
                        <li>
                            <a href="http://whereisxur.com/" target="_blank" style="color: black !important;">XUR, AGENT OF THE NINE</a>
                        </li>
                    </ul>
                </li>
            <!--    <li>
                    <a data-toggle="tab" href="#twitch">TWITCH</a>
                </li>-->
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a data-toggle="modal" data-target="#status_help">SET <span class="glyphicon glyphicon-user"></span> STATUS</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="tab-content bg-info" style="padding: 15px;">
    <div id="news" class="tab-pane active">

        <div class="well well-dark-transparent">
            <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;">Welcome To Our Clan!</h3>
Fun times no restrictions Lets get the job done and enjoy the bonds we create playing a game we all enjoy.            <br><br>Help make the100.io better <a class="btn btn-default" href="https://www.the100.io/supporters">Become a <span class="glyphicon glyphicon-fire"></span> Supporter</a>
            <br><br>
            <p style="padding: 15px; background-color: rgb(135, 30, 30); font-size: 12px;"><strong>NOTICE:</strong><br>
                PLEASE SET ALL NEW GAME SESSIONS TO GROUP ONLY.<br>
                We are a group that likes to play together and would prefer not to be a platform for making lfg games. Just make sure to tick the group only box when you make the session. Avoid jumping puzzles when in a group with Claude Spunkton, you have been warned!</p>
            <br>
        </div>
        <div class="well well-dark-transparent">
            <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;">News and Upcoming Events</h3>
            - FEB 18 - <a href="https://www.bungie.net/en/News/Article/44372/7_This-Week-At-Bungie---02182016" style="color: lightblue !important;">THIS WEEK AT BUNGIE </a> (news)<br>
            - FEB 23 - <a href="#" style="color: green;">IRON BANNER HAS RETURNED!</a><br>
        </div>
        <div class="well well-dark-transparent">
            <div class="row">
                <div class="col-md-6">
                    <a class="twitter-timeline" href="https://twitter.com/Bungie" data-widget-id="693068913672900609">Tweets by @Bungie</a>

                </div>
                <div class="col-md-6">
                    <a class="twitter-timeline" href="https://twitter.com/BungieHelp" data-widget-id="693066466330054656">Tweets by @BungieHelp</a>

                </div>
            </div>
        </div>
    </div>
    <div id="rewards" class="tab-pane">
        <div class="well well-dark-transparent">
            <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;">Activity Rewards</h3>
            <img src="http://i.imgur.com/WvZFg0p.jpg" width="100%" alt="rewards Banner" title="activity rewards Banner"><br>
        </div>
    </div>

    <div id="links" class="tab-pane">
       <dl>
         <dt>
           <a href="http://destinytracker.com/">http://destinytracker.com</a>
         </dt>
         <dd>
           gives you a complete breakdown of your Guardians PvE and PvP stats.
         </dd>

         <dt style="margin-top: 20px;">
           <a href="http://destinyghosthunter.net/">http://destinyghosthunter.net</a>
         </dt>
         <dd>
           bored of the grind? Get a Fireteam together and go dead Ghost hunting and
           boost your Grimoire score at the same time!
         </dd>

         <dt style="margin-top: 20px;">
           <a href="http://destinypublicevents.com/">http://destinypublicevents.com</a>
         </dt>
         <dd>
           go here to look for upcoming public events to make sure you're getting your
           daily XP.
         </dd>

         <dt style="margin-top: 20px;">
           <a href="http://destinyexotics.com/">http://destinyexotics.com</a>
         </dt>
         <dd>
           a handy way to keep tabs on what Exotic, Raid, Iron Banner &amp; Trials weapons and
           armor you have and which ones you still need.
         </dd>

         <dt style="margin-top: 20px;">
           <a href="http://www.ironbanner.info/">http://www.ironbanner.info</a>
         </dt>
         <dd>
           For Iron Banner, obvs. This website will work out how much rep you need to
           gain across a set amount of days/hours to get you to the rank you need.
         </dd>

         <dt style="margin-top: 20px;">
           <a href="http://www.reddit.com/r/DestinyTheGame/">http://www.reddit.com/r/DestinyTheGame</a>
         </dt>
         <dd>
           a very lively subreddit for all things Destiny.
         </dd>

         <dt style="margin-top: 20px;">
           <a href="http://www.reddit.com/r/crucibleplaybook/">http://www.reddit.com/r/crucibleplaybook</a>
         </dt>
         <dd>
           an offshoot of the above, this subreddit is focussed on all things PvP.
         </dd>

         <dt style="margin-top: 20px;">
           <a href="http://guardian.gg/">http://guardian.gg</a>
         </dt>
         <dd>
           Wondering what weapons get used the most in PvP and PVE? Lots of cool stats here.
         </dd>

         <dt style="margin-top: 20px;">
           <a href="http://www.destinytrialsreport.com/">http://www.destinytrialsreport.com</a>
         </dt>
         <dd>
           Wondering what you're up against in Trials of Osiris? This website will show
           you your enemies' weapons, perks and classes. Warning; it's not always 100%
           accurate as it might show you the wrong people.
         </dd>
       </dl>
    </div>
    <div id="CD" class="tab-pane">
        <div class="well well-dark-transparent" style="background-color: #68100F;">
            <h2 style="background-color: #68100F; color: #ffffff; text-align: center;">
                <a href="http://i1.wp.com/planetdestiny.com/wp-content/uploads/2016/02/b80f89f7155abb0324aabf8d501be08f.jpg" rel="gallery" class="fancybox image"><img class="size-full wp-image-27554 alignright" src="//i1.wp.com/planetdestiny.com/wp-content/uploads/2016/02/b80f89f7155abb0324aabf8d501be08f.jpg?resize=96%2C96" alt="b80f89f7155abb0324aabf8d501be08f" width="50" height="50"></a> Crimson Days [02/09 to 02/15] <a href="http://i1.wp.com/planetdestiny.com/wp-content/uploads/2016/02/b80f89f7155abb0324aabf8d501be08f.jpg" rel="gallery" class="fancybox image"><img class="size-full wp-image-27554 alignright" src="//i1.wp.com/planetdestiny.com/wp-content/uploads/2016/02/b80f89f7155abb0324aabf8d501be08f.jpg?resize=96%2C96" alt="b80f89f7155abb0324aabf8d501be08f" width="50" height="50"></a>
            </h2>
            <img src="http://i.imgur.com/E5yyMCB.jpg" width="100%" alt="cd Banner" title="crimson Banner"><br>
            <h4>Crimson Days has begun! Need Elimination&nbsp;Doubles tips? Click&nbsp;<strong><a href="http://planetdestiny.com/crimson-doubles-guide/" target="_blank">here</a>!</strong>
            </h4>
            <br>
            <div class="section">
                <h2 style="background-color: #68100F; color: #ffffff; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 15px; padding: 5px 0px 5px;">Crimson Bonds Quest</h2>
                <h3 style="background-color: #68100F; color: #ffffff;">1.&nbsp;<a href="http://db.planetdestiny.com/items/view/3722072682">Double Date</a>
                </h3>
                <p class="quote" style="background-color: #68100F; color: #ffffff;">Complete 7 Crucible matches in the Crimson Doubles playlist while in a Fireteam.</p>
                <h3 style="background-color: #68100F; color: #ffffff;">2. <a href="http://db.planetdestiny.com/items/view/1570611917">Return to Shaxx</a>
                </h3>
                <p class="quote" style="background-color: #68100F; color: #ffffff;">Go back to Lord Shaxx in the Hall of Guardians to receive your reward.</p>
            </div>
            <div class="section">
                <h3 style="font-size: 34px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 15px; padding: 5px 0px 5px;">Bounties</h3>
                <p>These bounties only work in the Crimson Doubles playlist. Teammates will also be able to help you with these.</p>
                <p>Crimson Days has 1 Weekly Bounty, as well as 5 Daily Bounties that refresh with each Daily Reset during Crimson Days.</p>
                <div style="font-size: 13px; background-color: #DADFDD; color: #1f252c;">
                    <div style="background-color: #428bca; margin: 0; color: #ffffff; font-size: 20px; font-weight: 600;" class="row">
                        <div class="col-xs-3" style="padding: 8px; text-align: center;">Bounty</div>
                        <div class="col-xs-9" style="padding: 8px; text-align: center;">Description</div>
                    </div>

                    <div style="margin: 0; border-bottom: 1px solid #bec0c2; border-top: 1px solid #efefef;" class="row">
                        <div class="col-xs-3" style="padding: 5px 8px; font-size: 14px;"><a href="http://db.planetdestiny.com/bounties/view/2029825887">Crimson Precision</a></div>
                        <div class="col-xs-9" style="padding: 5px 8px; font-size: 14px;">Defeat opposing Guardians with Precision headshots</div>
                    </div>

                    <div style="margin: 0; border-bottom: 1px solid #bec0c2; border-top: 1px solid #efefef;" class="row">
                        <div class="col-xs-3" style="padding: 5px 8px; font-size: 14px;"><a href="http://db.planetdestiny.com/bounties/view/1941364664">Master of Arms</a></div>
                        <div class="col-xs-9" style="padding: 5px 8px; font-size: 14px;">Defeat opposing Guardians with a variety of Primary weapon types.</div>
                    </div>

                    <div style="margin: 0; border-bottom: 1px solid #bec0c2; border-top: 1px solid #efefef;" class="row">
                        <div class="col-xs-3" style="padding: 5px 8px; font-size: 14px;"><a href="http://db.planetdestiny.com/bounties/view/1800634601">Finish the Thought</a></div>
                        <div class="col-xs-9" style="padding: 5px 8px; font-size: 14px;">Assist or be assisted in defeating opposing Guardians.</div>
                    </div>

                    <div style="margin: 0; border-bottom: 1px solid #bec0c2; border-top: 1px solid #efefef;" class="row">
                        <div class="col-xs-3" style="padding: 5px 8px; font-size: 14px;"><a href="http://db.planetdestiny.com/bounties/view/3076821032">Day of Victory</a></div>
                        <div class="col-xs-9" style="padding: 5px 8px; font-size: 14px;">Earn points; winning rounds in the Crimson Doubles playlist are worth 5. Round completions are worth 1.</div>
                    </div>

                    <div style="margin: 0; border-bottom: 1px solid #bec0c2; border-top: 1px solid #efefef;" class="row">
                        <div class="col-xs-3" style="padding: 5px 8px; font-size: 14px;"><a href="http://db.planetdestiny.com/bounties/view/3874005497">Two Lights as One</a></div>
                        <div class="col-xs-9" style="padding: 5px 8px; font-size: 14px;">Defeat opposing Guardians with any ability.</div>
                    </div>
                    <div style="margin: 0; border-bottom: 1px solid #bec0c2; border-top: 1px solid #efefef;" class="row">
                        <div class="col-xs-3" style="padding: 5px 8px; font-size: 14px;"><a href="http://db.planetdestiny.com/bounties/view/482113408">Crimson Glory</a></div>
                        <div class="col-xs-9" style="padding: 5px 8px; font-size: 14px;">Earn points; wins in the Crimson Doubles playlist are worth 3 points. Match completions are worth 1.</div>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
$TMPL_NF_SECTION$
    <div id="KF" class="tab-pane">
        <div class="well well-dark-transparent text-center">
            <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;">King's Fall Challenge Mode </h3>
            <table align="center" style="font-size: 28px; text-align: center; border: 1px solid white;">
                <tbody>
                <tr>
                    <td style="padding: 5px; background-color: #231C46; border-bottom: 1px solid white; border-collapse: collapse;">
                        <a class="image image-thumbnail"><img src="http://www.bungie.net/common/destiny_content/icons/536e2de01bf6e77f96b1124af55104f8.jpg" class="pi-image-thumbnail" width="50" height="50" data-image-key="536e2de01bf6e77f96b1124af55104f8.png" data-image-name="536e2de01bf6e77f96b1124af55104f8.png">War Priest Challenge Mode</a>
                    </td>
                    <td style="padding: 15px; border-bottom: 1px solid white; border-collapse: collapse;"><a href="https://www.google.co.uk/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&cad=rja&uact=8&ved=0ahUKEwjH2tL_yYvLAhXHVD4KHVuxCukQtwIIHTAA&url=https%3A%2F%2Fwww.youtube.com%2Fwatch%3Fv%3DredYhZNnMTE&usg=AFQjCNHAxXqHJnTu-BpNSsM__n5rQ3Oniw">Video Guide</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px; background-color: #E4E4E4; border-bottom: 1px solid white; border-collapse: collapse;">
                        <a class="image image-thumbnail"><img src="http://www.bungie.net/common/destiny_content/icons/8c8a623dae57a083b3cd826676d2c829.jpg" class="pi-image-thumbnail" width="50" height="50" data-image-key="8c8a623dae57a083b3cd826676d2c829.png" data-image-name="8c8a623dae57a083b3cd826676d2c829.png">Golgoroth Challenge Mode</a>
                    </td>
                    <td style="padding: 15px; border-bottom: 1px solid white; border-collapse: collapse;"> <a href="https://youtu.be/XBihdKtowcg">Video Guide</a>
                    </td>
                </tr>
                <tr>
                    <td style="padding: 5px; background-color: #963637; border-bottom: 1px solid white; border-collapse: collapse;">
                        <a class="image image-thumbnail"><img src="http://www.bungie.net/common/destiny_content/icons/d384387da0c306ed7f6bef990be8853e.jpg" class="pi-image-thumbnail" width="50" height="50" data-image-key="d384387da0c306ed7f6bef990be8853e.png" data-image-name="d384387da0c306ed7f6bef990be8853e.png">Oryx Challenge Mode</a>
                    </td>
                    <td style="padding: 15px; border-bottom: 1px solid white; border-collapse: collapse;"><a href="https://youtu.be/fyFv_vFK6V8">Video Guide</a>
                    </td>
                </tr>
                </tbody>
                <tfoot></tfoot>
            </table>

        </div>
    </div>
    <div id="CoO" class="tab-pane">
        <div class="well well-dark-transparent text-center">
            <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;">Court of Oryx Tier III Boss [02/16]</h3>



            <img src="http://i.imgur.com/KZhvFuK.jpg" width="75%" alt="coo Banner" title="Court of Oryx Banner"><br>
        </div>
    </div>
     <div id="QW" class="tab-pane">
        <div class="well well-dark-transparent text-center">
            <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;">Queens Wrath Bounties [02/16]</h3>
            <img src="http://i.imgur.com/UAsUsq0.jpg" width="75%" alt="qw Banner" title="queens wrath Banner"><br>
        </div>
    </div>
    <div id="RR" class="tab-pane">
        <div class="well well-dark-transparent text-center">
            <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;">the100.io Raid Race 2016</h3>
            <img src="http://i.imgur.com/dms9hgM.gif" width="100%" alt="rr Banner" title="raid race Banner"><br><br>
            <div class="well well-dark-transparent">
                The first Raid Race is being held on the100.io to celebrate the 1st Aniversary of the100.  The contest runs from Jan 01 to Jan 12.  Visit the <a href="https://www.the100.io/destiny-raid-race-contest" target="_new" style="color: Blue !important;">Raid Race Contest Site</a> for more details and to submit your times.<br><br>
            </div>
        </div>
    </div>
    <div id="SRL" class="tab-pane">
        <div class="well well-dark-transparent text-center">
            <img src="http://i.imgur.com/RWGFLD5.jpg" width="100%" alt="srl Banner" title="Sparrow Banner"><br>
            <h3 style="font-size: 22px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;">Leaderboard</h3>
            <h3 style="font-size: 16px; text-align: center; margin: 0px 0px 30px; padding: 5px 0px 5px;"><a href="https://docs.google.com/spreadsheets/d/1NcSpzQhM7HY6nNZ3tIYgCyepxb4hFpf9cRfCAfYKdKI/edit?usp=sharing" target="_new">UPDATE YOUR TIMES HERE</a></h3>
            <img src="http://i.imgur.com/8qJdOMO.jpg" width="100%" alt="leader Banner" title="leader Banner"><br>

        </div>
    </div>
    <div id="IB" class="tab-pane">
        <div class="well well-dark-transparent" style="background-color: #294638;">
            <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;"><img src="https://i.imgur.com/8xNnyZH.png" width="100%" alt="Iron Banner" title="Iron Banner logo"></h3>
			<p>More coming soon...</p>
         </div>
    </div>
    <div id="ToO" class="tab-pane">
		<h3>Coming in the very near future</h3>
    </div>
    <div id="AD" class="tab-pane">
    <h3>Coming in the very near future</h3>
    </div>
    <div id="PoE" class="tab-pane">
    <h3>Coming in the very near future</h3>
        </div>
    </div>
   <!-- <div id="twitch" class="tab-pane">
        <div class="well well-dark-transparent">
            <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;"><img src="http://i.imgur.com/LPgEQGG.jpg" width="100%" height="px" alt="twitch" title="twitch"></h3>
            <div class="row">
                <div class="col-md-6">
                <h3> Let an admin know that you want your twitch stream added here! </h3>
                </div>
                <div class="col-md-6">
                </div>
            </div>
        </div>
    </div>-->
</div>
<div class="well well-dark-transparent">
    <div class="well well-dark-transparent">
        <h3 style="font-size: 24px; text-align: center; border-bottom: 2px solid #8d8c91; margin: 0px 0px 30px; padding: 5px 0px 5px;">Clan Information</h3>
        <div class="row">
            <div class="col-xs-12 col-md-9">
                <p>Our Clan, Bravo Company 983, exists for earning achievements such as: Raiding Party, Flawless Raider, Strength of the Pack, etc.  Communication and Scheduling should be done through this site.</p>
                <ul class="list-inline">
                    <li><a href="https://www.bungie.net/en/Clan/Xbox/1407864" target="_blank" class="btn btn-success">Join BC983 Clan</a></li>
                    <li><a target="_blank" href="http://destinytracker.com/clans/1407864/bravo-938" class="btn btn-primary">BC983 Stats</a></li>
                </ul>
                <br>
            </div>
        </div>
    </div>
</div>